/* General setup */
html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: #a9a9a9;
}

body {
    width: 90%;
    min-width: 800px;
    margin: 0 auto;
}

div {
    display: inline-block;
}

/* Typography */
h1 {
    color: black;
}

p, li {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Header setup */
header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-transform: uppercase;
}

header img {
    display: inline-block;
    height: 50px;
}

body > * {
    background-color: whitesmoke;
    padding: 1%;
}

/* Navigation setup */
nav {
    height: 50px;
    display: flex;
    background-color: whitesmoke;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav li {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
}

nav a {
    font-size: 2rem;
    height: 3rem;
    line-height: 3rem;
    text-decoration: none;
    color: white;
    display: block;
}

/* Sub-navigation setup */
.sub-nav {
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    background-color: #999999;
    padding: 0;
    margin: 0;
    display: none;
    min-width: 220px;
}

.sub-nav li {
    border-top: 1px solid #555;
}

.sub-nav li a {
    padding: 10px;
    color: black;
    text-align: left;
}

/* Show sub-nav on hover */
.has-sub-nav:hover .sub-nav {
    display: block;
}

/* Hover effects */
nav a:hover, .sub-nav a:hover {
    background-color: #cfcfcf;
}

/* Gap between nav and main */
nav + main {
    margin-top: 10px;
}

/* Links setup */
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    /* text-decoration: underline; */
    color: black;
    background-color: #cfcfcf;
}

/* tables setup */
.intervals {
    border-collapse: collapse;
    width: 60%;
    font-size: 1.4rem;
}

.scales {
    border-collapse: collapse;
    width: 80%;
    font-size: 1.4rem;
}
.scales tr th,
.scales tr td {
    min-width: 4em;
    max-width: 4em;
    text-align: center;
}
.scales tr th:first-child,
.scales tr td:first-child {
    min-width: 8em;
    max-width: 8em;
    text-align: left;
    }


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



main + footer {
    margin-top: 10px;
}

/* Footer styling */
footer {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer quote */
.footer-quote {
    font-size: 1.6rem;
    font-style: italic;
    color: rgb(58, 58, 58);
    margin-bottom: -10px;
    margin-top: -10px;
}

/* Footer contact */
.footer-contact p {
    font-size: 1.4rem;
    color: black;
    margin: 3px;
}

/* Footer contact link */
.footer-contact a {
    color: black;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

/* Footer copyright */
.footer-copyright p {
    font-size: 1.2rem;
    color: #aaa;
    margin: 0;
}

/* Adjust padding and spacing for smaller screens */
@media (max-width: 768px) {
    footer {
        padding: 30px 10px;
    }

    .footer-quote,
    .footer-contact p,
    .footer-copyright p {
        font-size: 1.4rem;
    }
}





  /* setup for the submit button */

  /* input[type="text"]{
  border: 2px solid #000;
  margin: 0 0 1em 0;
  padding: 10px;
  width: 100%;
}

input[type="submit"] {
  border: 3px solid #333;
  background-color: #999;
  border-radius: 5px;
  padding: 10px 2em;
  font-weight: bold;
  color: #fff;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #333;
} */